@using Bán_Mỹ_Phẩm.Models;
@model List<SanPham>

<div class="row" >
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="wsk-cp-product">
                <div class="wsk-cp-img">
                    <a href="@Url.Action("xemchitiet", new {@Masp=item.MaSP })">
                        <img src=@Url.Content("~/Images/"+ item.HinhAnh) class="img-responsive" alt="" width="400" height="400" />
                    </a>
                </div>
                <div class="wsk-cp-text">                  
                    <div class="category">
                        <span>#@item.ThuongHieu.TenTH</span>
                    </div>
                    <div class="title-product">
                        <h3>@item.TenSP</h3>
                    </div>
                    <div class="card-footer" id="sanpham">
                        <strike>
                            @String.Format("{0:0,0}", @item.GiaBan) VNĐ
                        </strike>
                        <div class="wcf-left">
                            <strong class="price">
                                @String.Format("{0:0,0}", @item.iKHuyenMai()) VNĐ
                                <small>-@item.tenKMNull()%</small>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    }
</div>


