@model Bán_Mỹ_Phẩm.Models.Sanpham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage-Admin.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CHI TIẾT</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<h2>Thông tin chi tiết</h2>

<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hangsanxuat.Tenhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hangsanxuat.Tenhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thuonghieu.Tenth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thuonghieu.Tenth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tensp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giatien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giatien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sanphammoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sanphammoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anhbia)
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/" +Model.Anhbia)" width="100" height="100" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Masp }) |
    @Html.ActionLink("Về trang chủ","Danhsach")
</p>

<style>
    dl{
        font-size:2rem;
    }
</style>