@model PagedList.IPagedList<Bán_Mỹ_Phẩm.Models.Thuonghieu>
@using PagedList.Mvc;

@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage-Admin.cshtml";
}

<h2>DanhSach</h2>
<p>
    <button class="btn-default">@Html.ActionLink("Thêm mới", "Create")</button>
</p>

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">QUẢN LÝ THƯƠNG HIỆU</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã Thương hiệu</th>
                            <th>Tên Thương hiệu</th>
                            <th>Hành động</th>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã Thương hiệu</th>
                            <th>Tên Thương hiệu</th>              
                            <th>Hành động</th>            
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Math)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tenth)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Math })|
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Math }) |
                                    @Html.ActionLink("Xoá", "Delete", new { id = item.Math })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("DanhSach",
    new { page }))
    <!-- Kết thúc -->