@model Bán_Mỹ_Phẩm.Models.Thuonghieu

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Thuonghieu</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Math)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Math)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tenth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tenth)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "DanhSach")
    </p>
}
