@using Bán_Mỹ_Phẩm.Models;
@model List<Sanpham>

<center><img src="@ViewBag.Imagename"></center>
<center><h2 style="font-weight:bold;font-family:monospace,Courier New, Courier, monospace">@ViewBag.SanPham</h2></center>
<div class="row">  
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="wsk-cp-product">
                <div class="wsk-cp-img">
                    <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                        <img src=@Url.Content("~/Images/"+ item.Anhbia) class="img-responsive" alt="" width="400" height="400" />
                    </a>
                </div>
                <div class="wsk-cp-text">
                    <div class="category">
                        <span>#@item.Thuonghieu.Tenth</span>
                    </div>
                    <div class="title-product">
                        <h3>@item.Tensp</h3>
                    </div>
                    <div class="description-prod">
                        <p>@item.Mota</p>
                    </div>
                    <div class="card-footer">
                        <div class="wcf-left"><span class="price">@String.Format("{0:0,0}", @item.Giatien)</span></div>
                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                        {
                            <input type="submit" id="bgnGioHang" class="buy-btn" value="" />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

