@using Bán_Mỹ_Phẩm.Models;
@model List<GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center"> GIỎ HÀNG <i class="fa fa-shopping-cart"></i></h2>
<br />
<table class="table-hover table-bordered divGioHang">
    <tr style="">
        <th> Mã SP</th>

        <th> Tên SP</th>

        <th> Hiình ảnh</th>

        <th> Đơn giá</th>

        <th> Khuyến mãi</th>

        <th> Số lượng</th>

        <th> Thành tiền</th>   
    </tr>



    @foreach (var item in Model)
    {
        <tr class="font-italic">
            <td> @item.iMasp</td>

            <td> @item.sTensp</td>

            <td> <img src="@Url.Content("~/Images/" +item.sAnhBia)" width="50" height="50" /></td>

            <td>  @String.Format("{0:0,0}", item.dDonGia) VNĐ</td>

            <td>  @item.iKhuyenMai%</td>

            <td> @item.iSoLuong</td>

            <td> @String.Format("{0:0,0}", item.ThanhTien) VNĐ </td>        
         </tr>
   
    }

    
    <tr>
        <td colspan="6">
         Tổng tiền:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@String.Format("{0:0,0}", @Model.Sum(b => b.ThanhTien)) VNĐ     
        </td>
        <td colspan="6" style="text-align:right">
            @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang_View")
        </td>
        <td colspan="6" style="text-align:right;color:blue">
            @using (Html.BeginForm("DatHang", "GioHang", new { @class = "" }))
            {
                <input type="submit" value="Đặt hàng" class="btn-danger" />
            }
        </td>
    </tr>
</table>

<style type="text/css">
    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size: large;
    }

        .divGioHang td {
            padding: 10px;
            border: 2px solid #EEEEEE;
            text-align: center;
        }

        .divGioHang th {
            text-align: center;
        }
</style>